Delivery and Returns
<br /><br />
Orders are generally delivered in 2-3 working days and are often dispatched on the day you order, depending on supplier stock levels. We work with both Royal Mail and Parcel Force to ensure your order arrives as quickly as possible. We may also, on occassion, use other carriers to deliver our products. 
<br /><br />
Currently we are unable to deliver outside of the UK. Additional delivery charges may apply for customers who live outside of the mainland UK, or in particularly rural areas. Please contact us if you would like to confirm delivery costs in your area.
<br /><br />
Returns
<br /><br />
All of our products are covered by a 12 month warranty. Any faulty products can be returned directly by you and we will issue a replacement as soon as possible. Where no replacement is available, a refund will be arranged instead. If you wish to return a product, please contact us to obtain the return address and also authorisation for your return. Where a product is faulty, we will pay the reasonable cost for you to return it. Your order number and a description of the fault should be included with any product you return. For your security, all returned items must be sent recorded. 
<br /><br />
If a product fails at some point within the warranty period, we will pay the cost of sending a replacement to you, along with the reasonable cost you incur to return the faulty item. If, after inspection by our team the product is found not to be faulty, it will be returned to you at your expense. 
<br /><br />
If you wish to return a product to us because you are not happy with it or have decided you do not wish to keep it, you can do so within 14 days of placing your order with us. Return postage costs are the responsilibity of you as the customer in this scenario.
<br /><br />
Where an order received is incorrect, please adivse us within two days of delivery and we will arrange for the correct products to be sent to you.