<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{$shop.title}</title>
	<link rel="stylesheet" type="text/css" href="/style.css" media="screen, projection" />
	<!--<script src="/min/?g=sitebuilderjs&amp;1274021140"></script>-->
	{literal}
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-26214613-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	{/literal}
	<!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
</head>

<body>

<div id="wrapper">

	<div class="header">
		<h1>{$shop.name}</h1>
		<div class="menu">
			<ul>
			{assign var="counter" value=0}
			{foreach from=$pages item="page"}
				<li><a href="{$domain}/{$page.slug}{if $counter gt 0}.html{/if}">{$page.text}</a></li>
				{assign var="counter" value=$counter+1}
			{/foreach}
			</ul>
		</div>
	</div>

	<div class="body clearfix">
	<div class="content">
			{include file=$content}
		</div>
		<div class="navigation">
			<div class="group">
				<span class="heading">Categories</span>
				<ul>
					{foreach from=$categories key="catid" item="category"}
						{if $catid != $homecat}
						<li><a href="{$domain}/{$category.slug}.html">{$category.text}</a></li>
						{/if}
					{/foreach}
				</ul>
			</div>
		</div>
		
	</div>

	<div class="footer">
		&copy; Electronic Dictionaries 2011
	</div>
	
</div>

</body>
</html>